#img_TrebleClef {
    position: absolute;
    top: 23px;
    left: 0px;
    width: 132px;
    visibility: hidden;
}

#img_BassClef {
    position: absolute;
    top: 62px;
    left: 15px;
    width: 110px;
    visibility: visible;
}