/* 本 css 主要控制低音谱号和高音谱号的位置和大小 */

#img_TrebleClef {
    position: absolute;
    top: 198px;
    left: 0px;
    width: 132px;
    visibility: hidden;
    z-index: 9999;
}

#img_BassClef {
    position: absolute;
    top: 237px;
    left: 15px;
    width: 110px;
    visibility: visible;
    z-index: 9999;
}
