/* 本 css 主要负责控制五线谱中的五条主要谱线的位置 */

.float_hr {
    position: absolute;
    left: 0;
    right: 0;
    border: none;
    border-top: thick solid black;
}

#img_hr_01 {
    top: 250px;
}

#img_hr_02 {
    top: 285px;
}

#img_hr_03 {
    top: 320px;
}

#img_hr_04 {
    top: 355px;
}

#img_hr_05 {
    top: 390px;
}